# Don't track these folders
.vs/
x64/
RogueEngine/.vs

# Compiled source #
###################
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.log
*.tlog
*.manifest
*.obj
*.pch
*.pdb
*.res
*.sdf
*.suo
*.user
*.com
*.class
*.o
*.so
*.ilk
*.iobj
*.ipdb

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#include everything within#
!/Dep/**/*
!/RogueEditor/Dep/**/*

#include glew32 files#
!/RogueEngine/Debug/glew32.dll
!/RogueEngine/x64/Debug/glew32.dll
!/x64/Release/glew32.dll
!/x64/Debug/glew32.dll
!/Debug/glew32.dll
!/Release/glew32.dll

#ignore specifically these files#
RogueEngine/log/ClientFileLog.txt
RogueEngine/log/CoreFileLog.txt
RogueEngine/Resources/TestJsonFileCreator.json